<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.com.pembimbingintern">

    <uses-permission android:name="android.permission.INTERNET" />
 
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PieunivActivity"></activity>
        <activity android:name=".PieprodiActivity" />
        <activity android:name=".PiejkActivity" />
        <activity android:name=".PiedailyActivity" />
        <activity
            android:name=".Activity.LoginPendampingActivity"
            android:theme="@style/splash" />
        <activity
            android:name=".Activity.BacaActivity"
            android:theme="@style/splash" />
        <activity
            android:name=".Activity.DetailPendampingActivity"
            android:theme="@style/splash" />
        <activity
            android:name=".Activity.DaftarPendampingActivity"
            android:theme="@style/splash" />
        <activity
            android:name=".Activity.DetailMahasiswaActivity"
            android:theme="@style/splash" />
        <activity
            android:name=".Activity.HomePendampingActivity"
            android:theme="@style/splash" />
        <activity
            android:name=".Activity.PengajuanMahasiswaActivity"
            android:theme="@style/splash" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/splash" />
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>